<div id="about" class="bg-white pt-24 sm:pt-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div>
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Our Values</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why Python?</h1>
          <div class="max-w-none">
            <p class="mt-6 text-justify">At <strong>INPERIUM</strong>, our core values are centered on excellence, innovation, and a relentless focus on quality. By fostering a culture of deep expertise, teamwork, and continuous learning, we ensure that every product we deliver reflects our commitment to perfection.</p>
            <p class="mt-6 text-justify">We have chosen <strong>Python</strong> as our exclusive programming language because we believe in focusing on one thing to master it. Python’s versatility, readability, and efficiency make it the ideal choice for building robust, scalable, and <strong>innovative products</strong>. By specializing in Python, we are able to leverage its full potential to deliver tailored solutions faster and more effectively.</p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-base font-semibold leading-7 text-indigo-600">Our Promise</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What do I get?</h1>
        <div class="rounded-3xl bg-gray-900 p-8 ring-1 ring-gray-900 xl:p-10 mt-6">
          <ul role="list" class="space-y-3 text-sm leading-6 text-gray-300">
            {% for service in SITE_DATA.services %}
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              {{ service.name }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
